#timer {
  font-size: 32px;
  padding: 35px;
  letter-spacing: 10px;
}
button {
  padding: 13px;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 2px;
  font-weight: bold;
}
button:disabled {
  border: 1px solid rgb(214, 214, 214);;
}